{% extends 'frontend/shared/home.html' %} {% load static %}
{% block styles %}
{% endblock %}
{% block title %}Tickets
{% endblock title %}
{% block body %}

<div class="container">

    <div class="row">
        <div class="col-md-8">
    
            <div class="card my-4">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col col-form-label">Subject</label>
                        <div class="col"> {{ticket.subject }} </div>
                    </div>
                </div>

     
            <div class="card-body">
                <div class="form-group row">
                    <label class="col col-form-label">Description</label>
                    <div class="col"> {{ticket.description }} </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col col-form-label">Priority</label>
                    <div class="col"> {{ticket.priority }} </div>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col col-form-label">Status</label>
                    <div class="col"> {{ticket.status }} </div>
                </div>
            </div>
        </div>

                <form method='POST'>
                    {% csrf_token %}
                    {% include 'backend/includes/form.html' %}
                    <input type='submit' value='Create' />
                </form>

        </div>
    

        <div class="col-md-4">
    
            <div class="card my-4">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col col-form-label">Assignee</label>
                        <div class="col"> {{ ticket.user }} </div>
                    </div>
                </div>
            </div>
    {% for ticket_envelop in ticket_envelops %}
    {% for tickenv in ticket_envelop.messages.all %}
            <div class="card my-4">
                <h5 class="card-header">شخص پاسخگو:{{tickenv.user.first_name }}</h5>
                <div class="card-body">{{ tickenv.description}}</div>
              <strong>پاسخ به:<a href="{{ ticket_letter.get_absolute_url }}" style="color:brown; margin:15px">{{ tickenv.reply }}</a></strong>

            </div>
    {% endfor %}
    {% endfor %}
        </div>
    </div>
</div>
{% endblock %}